<h2>Edit Comment</h2>

<%= form_for [@post, @comment] do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'control-label' %>
    <%= f.text_field :name,value: current_user.name %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'control-label' %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Update Comment', class: 'btn btn-primary' %>
  </div>
<% end %>
