<br>

<div class="dropdown">
  <label for="tag_select">Tags</label>
  <select class="form-select" id="tag_select" name="post[tag_ids][]" multiple>
    <% Tag.all.each do |tag| %>
      <option value="<%= tag.id %>" <%= 'selected' if @post.tags.include?(tag) %>><%= tag.name %></option>
    <% end %>
  </select>
</div>




<br>
<div class="field">
  <%= form.label :new_tag_name, "New Tag Name" %><br>
  <%= form.text_field :new_tag_name %>
</div>
<br>