<%= form_with(model: [@topic, @post] ) do |form| %>


  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :topic_id, style: "display: block" %>
    <%= form.text_field :topic_id %>
  </div>

  <%= render 'tags/new', form: form, post: @post %>


  <div>
    <%= form.submit %>
  </div>
<% end %>
