<table style="margin: 0 auto; width: 80%; border-collapse: collapse; text-align: center;">

  <%= form_tag posts_path, method: :get do %>
  <div>
    <%=label_tag :from_date, 'From Date: ' %>
    <%= date_field_tag :from_date , (params[:from_date] || 1.day.ago.to_date) %>
  </div><br>
    <div>
      <%= label_tag :to_date, 'To Date: ' %>
      <%= date_field_tag :to_date , (params[:to_date] || Date.today)%>
    </div><br>
    <div>
      <%= submit_tag 'Show details'%>
    </div><br>
  <%end %>
  <thead>
  <tr>
    <th style="background-color: #007bff; color: #fff; padding: 10px;">Posts</th>
  </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
    <tr class="post">
      <td style="border: 1px solid #ddd; padding: 10px;">
        <div class="post-title" data-post-id="<%= post.id %>" data-topic-id="<%=post.topic_id %>">
        <%= link_to "#{post.name} (#{post.topic.name}) <br> comments: #{post.post_comments_count} <br>average rating: #{number_with_precision(post.average_rating, precision: 2)}<br>".html_safe, topic_post_path(post.topic_id, post), style: "text-decoration: none; color: #333; font-weight: bold;" %>
          <% if current_user.posts.include?(post) %>
            <span class="read">Read</span>
          <% else %>
            <span class="read">Unread</span>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table><br><br>
<nav class="pagy-nav pagination">
  <%= pagy_nav(@pagy).html_safe %>
</nav>
  <br>
<p style="text-align: center;">
  <%= link_to "Create post", new_topic_post_path(@topic),remote:true,id:"new_post_button", style: "text-decoration: none; font-weight: bold; background-color: #007bff; color: #fff; padding: 10px 20px; border: none; border-radius: 5px;" %>
</p>
<div id="new_post"></div>