<table style="margin: 0 auto; width: 80%; border-collapse: collapse; text-align: center;">
  <thead>
  <tr>
    <th style="background-color: #007bff; color: #fff; padding: 10px;">Posts</th>
  </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
    <tr class="post">
      <td style="border: 1px solid #ddd; padding: 10px;">
        <div class="post-title" data-post-id="<%= post.id %>" data-topic-id="<%=post.topic_id %>">
        <%= link_to "#{post.name} (#{post.topic.name})", topic_post_path(post.topic_id, post), style: "text-decoration: none; color: #333; font-weight: bold;" %>
          <% if current_user.posts.include?(post) %>
            <span class="read">Read</span>
          <% else %>
            <span class="read">Unread</span>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table><br><br>
<center>
  <nav class="pagy-nav pagination">
    <% if @pagy.prev %>
      <%= link_to 'Prev', url_for(@pagy.vars[:params].merge(page: @pagy.prev)), class: 'page prev' %>
    <% else %>
      <span class="page prev disabled">&lsaquo;&nbsp;Prev</span>
    <% end %>

    <% @pagy.series.each do |item| %>
      <% if item.is_a?(Integer) %>
        <%= link_to item, url_for(@pagy.vars[:params].merge(page: item)), class: 'page' %>
      <% else %>
        <span class="page gap"><%= item %></span>
      <% end %>
    <% end %>

    <% if @pagy.next %>
      <%= link_to 'Next', url_for(@pagy.vars[:params].merge(page: @pagy.next)), class: 'page next' %>
    <% else %>
      <span class="page next disabled">Next&nbsp;&rsaquo;</span>
    <% end %>
  </nav>
</center><br>