<!DOCTYPE html>
<html>
  <head>
    <title>blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <%= javascript_include_tag 'post' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
     <%= javascript_include_tag 'post' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
